#include "resource.hpp"
#include <winresrc.h>

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIALOG_REPORT DIALOGEX 0, 0, 760, 440
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Playlist Fix"
FONT 8, "Segoe UI", 400, 0, 0x0
BEGIN
    CONTROL         "", IDC_LIST_REPORT, "SysListView32", LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP, 0, 0, 760, 420
    PUSHBUTTON      "Close", IDCANCEL, 703, 420, 50, 14
END

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////
